ruby:
  artists = Artist.all.order(title: :asc).map do |p|
    {
      id: p.id,
      title: p.romaji.present? ? "#{p.title} (#{p.romaji})" : p.title,
      aliases: p.aliases,
      tags: p.tags.pluck(:title)
    }
  end

div#vue-app
  vue-browser :init-data={artists: artists}.to_json

javascript:
  var app = new Vue({
    el: '#vue-app',
    data: {
    }
  })

