// locals: tracks, notes

audio#main-player preload="none" controls="controls" style="width: 500px"

ruby:
  ratings = tracks.map{|t|t.rating}.delete_if{|i|i==0}.sort
  c = ratings.count - 1
  median = ( ratings.count % 2 == 1 ? ratings[c/2] : (ratings[c/2] + ratings[c/2+1])/2.0 ) if ratings.count > 0
  sum = 0
  ratings.each {|i|sum+=i}
  mean = (sum/ratings.count.to_f).round(1)

br
= "Median: #{median}; mean: #{mean}"

h2 Tracks
ul.playlist
  - tracks.each do |t|
    li id="track-#{t.id}"
      div class="rating rated-#{t.rating}" data-rating=t.rating data-current-rating=t.rating data-url=path_to(:track_rating).with(t.id) = RATINGS[t.rating]
      a.ajax-link.track-playback-link data-track-url=(path_to(:download).with(t.id)) href=(path_to(:download).with(t.id)) = t.filename
      '  | 
      span.toggle-lyrics-block style=(t.lyrics.empty? ? "display: none" : nil)
        a.ajax-link.toggle-link data-target="#lyrics-table-#{t.id}"
          img.inline-img src='/img/scroll.png'
      a.ajax-link.toggle-link data-target="#lyrics-form-#{t.id}"
        img.inline-img src='/img/scroll_empty.png'
      a.ajax-link.toggle-link data-target="#note-form-#{t.id}"
        img.inline-img src='/img/speech-bubble.png'
      '  | Tags: 
      == slim :tags_form, locals: {parent_object: t}
      div.track-note-form id="note-form-#{t.id}"
        == slim :note_form, locals: {note_parent: t}
      div.track-lyrics-form id="lyrics-form-#{t.id}"
        == slim :lyrics_form, locals: {track: t}
      == slim :notes_table, locals: {notes: notes[t.id]}
      div.track-lyrics-table id="lyrics-table-#{t.id}"
        - t.lyrics.each do |k,v|
          div.track-lyrics-block
            h3 = k
            == RedCloth.new(v).to_html

javascript:
  var playlist = [];
  var play_index = 0;

  $(document).on('click', '.toggle-link', function(){
    var target = $(this).data('target');
    $(target).toggle();
  });

  $(document).on('ajax:beforeSend','.track-lyrics-form form', function(xhr, settings){
    if ($(this).find('input[name=track_id]').val() == '') { return false; }
    $(this).find('input').attr('disabled', true);
    $(this).find('textarea').attr('disabled', true);
    return true;
  });

  $(document).on('ajax:success','.track-lyrics-form form', function(xhr, data, status){
    var id = $(this).find('input[name=track_id]').val();
    var title = $(this).find('input[name=title]').val();
    $(this).find('input[name=title]').val('');
    $(this).find('textarea').val('');
    $(this).find('input').attr('disabled', false);
    $(this).find('textarea').attr('disabled', false);
    $(this).parent().hide();
    $("#lyrics-table-" + id).append('<div class="track-lyrics-block"><h3>' + title + '</h3>' + data + '</div>');
    $("#lyrics-table-" + id).show();
    $("#track-" + id + " .toggle-lyrics-block").show();
  });

  $(document).on('click', '.track-playback-link', function(event){
    event.preventDefault();

    var track_url = $(this).data('track-url');
    playlist = [];
    $('.track-playback-link').each(function(){
      var url = $(this).data('track-url');
      playlist.push(url);
      console.log(url);
      if (url == track_url) {
        play_index = playlist.length - 1;
      }
    });

    play();
  });

  function play(){
    $('#main-player').attr('src', playlist[play_index]);
    $('#main-player')[0].play();
    $('.track-now-playing').removeClass('track-now-playing');
    $('.track-playback-link').each(function(){
      if ($(this).data('track-url') == playlist[play_index]) {
        $(this).addClass('track-now-playing')
      }
    });
  }

  $('#main-player').on('ended', function(){
    play_index = play_index + 1;
    if (play_index < playlist.length) {
      $('#main-player')[0].currentTime = 0;
      play();
    }
  });
