body {
/*  font-family: Segoe UI, Helvetica Neue, Trebuchet MS, Trebuchet, Helvetica;*/
  font-family: Cambria, myfont2, serif;
  font-weight: 300;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 400;
}
.flash-notice {
  background: #80c921;
  color: #062700;
}
.flash-error {
  background: #c92d21;
  color: #270300;
}
a {
  color: #1c79cb;
}
a:hover {
  color: #529fe2;
}
.ajax-link {
  cursor: pointer;
  border-bottom: 1px dashed #1c79cb;
}
.ajax-button {
  cursor: pointer;
}
.track-playback-link {
  text-decoration: none;
}
table td {
  vertical-align: top;
  padding: 0 8px 0 8px;
}
div.artists-list span {
  margin: 0.5em 1em;
}
div.artists-list span.deleted,
ul.playlist li.deleted {
  text-decoration: line-through;
  color: red;
}
.album-item.deleted {
  background-color: #faa;
}
.album-item.unknown {
  background-color: #aaf;
}
div.artists-list span.processed,
.album-item.processed,
ul.playlist li.processed {
  opacity: 0.2;
}
div.artists-list span.skipped {
  background-color: #afa;
  text-decoration: line-through;
}
.releases-block .album-item{
  vertical-align: top;
}
.album-item {
  display: inline-block;
  margin: 8px 2px;
}
.album-cover-block,
.album-info-block {
}
.album-cover-block {
  width: 200px; 
  height: 200px;
  text-align: left;
  margin-right: 12px;
}
.album-cover-valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
img.album-cover {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  vertical-align: bottom;
}
.album-info-block {
  margin-top: 6px;
  max-width: 200px;
  color: #444;
  font-size: 0.8em;
}
.album-item .details {
  font-size: 0.6em;
  color: #999
}
.release-save-buttons {
  display: none;
}
.ib {
  display: inline-block;
}
.sugg-link {
  cursor: pointer;
}
.tags-block {
  border-bottom: 1px solid #ccc;
  display: inline;
  padding: 1px 4px 2px 4px;
  cursor: text;
}
.tags-block form {
  display: inline;
}
.new-tag-input {
  border: none;
  margin-top: 3px;
}
.tag {
  display: inline-block;
  padding: 4px;
  font-weight: 600;
}
.tag .tag-category {
  opacity: 0.5;
}
.tag-c,
.tag-c a {
  color: #005cd9;
}
.tag-g,
.tag-g a {
  color: #008720;
}
.tag-l,
.tag-l a {
  color: #9600bc;
}
.tag-i,
.tag-i a {
  color: #bc5400;
}
.tag-p,
.tag-p a {
  color: #ffc000;
}
.album-cover-block:hover .album-buttons {
  visibility: visible;
}
.album-buttons {
  visibility: hidden;
  position: relative;
  bottom: 24px;
  color: white;
  cursor: pointer;
}
.album-buttons div {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px;
  margin-right: 1px;
}
.album-buttons div:hover {
  background: #80dbe1;
}
.album-buttons img {
  display: block;
  vertical-align: bottom;
}
ul.playlist li {
  line-height: 1.7em;
}
.track-now-playing {
  background: #ffec83;
}
.ajax-link:hover .inline-img {
  background-color: #00AEEF;
}
.inline-img {
  margin: 0 1px -4px 1px;
  padding: 2px;
}
.track-note-form,
.track-lyrics-form {
  display: none;
}
.track-lyrics-block {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  font-size: 0.85em;
}
.track-lyrics-table {
  display: none;
}
.notes-table td {
  vertical-align: baseline;
  max-width: 40em;
}
.notes-table .note-date {
  color: #777;
  font-size: 0.8em;
}
.notes-table .note-content {
  font-size: 0.85em;
}
body.hide-notes .notes-table .note-content {
  background: #eee;
  color: #eee;
}
body.hide-notes .notes-table .note-content:hover {
  color: #ccc;
}
.rating {
  display: inline-block;
  padding: 1px;
  margin: 1px 4px 1px 4px;
  text-align: center;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.rated-0  {background-color: #EEEEEE; color: #777777}
.rated-1  {background-color: #222222; color: #777777}
/* text color is a 15% color from base (background) color
   calculated here: https://www.w3schools.com/colors/colors_picker.asp */
.rated-2  {background-color: #85312C; color: #391513}
.rated-3  {background-color: #ED1C24; color: #470608}
.rated-4  {background-color: #F58220; color: #492403}
.rated-5  {background-color: #FFF200; color: #4d4900}
.rated-6  {background-color: #A6CE39; color: #313d0f}
.rated-7  {background-color: #00A651; color: #004d25}
.rated-8  {background-color: #00AEEF; color: #00384d}
.rated-9  {background-color: #A64686; color: #36172b}
.rated-10 {background-color: #EC008C; color: #4d002e}

.mediainfo {
  color: #aaa;
  font-size: 0.8em;
}
.mediainfo .duration {
  color: #777;
  font-style: italic;
}
.mediainfo .attention {
  background-color: #fff4b5;
  color: #555;
}
