body {
  font-family: Segoe UI, Helvetica Neue, Trebuchet MS, Trebuchet, Helvetica;
  font-weight: 300;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 400;
}
.flash-notice {
  background: #80c921;
  color: #062700;
}
.flash-error {
  background: #c92d21;
  color: #270300;
}
a {
  color: #1c79cb;
}
a:hover {
  color: #529fe2;
}
.ajax-link {
  cursor: pointer;
  border-bottom: 1px dashed #1c79cb;
}
table td {
  vertical-align: top;
  padding: 0 8px 0 8px;
}
.releases-block .album-item{
  vertical-align: top;
}
.album-item {
  display: inline-block;
  margin: 8px 2px;
}
.album-cover-block,
.album-info-block {
}
.album-cover-block {
  width: 200px; 
  height: 200px;
  text-align: left;
  margin-right: 12px;
}
.album-cover-valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
img.album-cover {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  vertical-align: bottom;
}
.album-info-block {
  margin-top: 6px;
  max-width: 200px;
  color: #444;
  font-size: 0.8em;
}
.album-item .details {
  font-size: 0.6em;
  color: #999
}
.release-save-buttons {
  display: none;
}
.ib {
  display: inline-block;
}
.sugg-link {
  cursor: pointer;
}
.tags-block {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 4px 2px;
  padding: 1px 4px 2px 4px;
  cursor: text;
}
.new-tag-input {
  border: none;
  margin-top: 3px;
}
.tag {
  display: inline-block;
  padding: 2px 4px;
  margin: 2px 4px;
}
.tag-c {
  background-color: #80dbe1;
  color: #035b61;
}
.tag-g {
  background-color: #c0e180;
  color: #445c16;
}
.tag-l {
  background-color: #b780e1;
  color: #350a57;
}
.tag-i {
  background-color: #ff921d;
  color: #3d2000;
}
.album-cover-block:hover .album-buttons {
  visibility: visible;
}
.album-buttons {
  visibility: hidden;
  position: relative;
  bottom: 24px;
  color: white;
  cursor: pointer;
}
.album-buttons div {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px;
  margin-right: 1px;
}
.album-buttons div:hover {
  background: #80dbe1;
}
.album-buttons img {
  display: block;
  vertical-align: bottom;
}
.track-note-form {
  display: none;
}
.notes-table td {
  vertical-align: baseline;
  max-width: 40em;
}
.notes-table .note-date {
  color: #777;
  font-size: 0.8em;
}
.notes-table .note-content {
  font-size: 0.85em;
}
