body {
/*  font-family: Segoe UI, Helvetica Neue, Trebuchet MS, Trebuchet, Helvetica;*/
  font-family: myfont, Cambria, serif;
  font-weight: 300;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}
#container {
  margin: 1em;
  margin-top: 60px;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 400;
}
.flash-notice {
  background: #80c921;
  color: #062700;
}
.flash-error {
  background: #c92d21;
  color: #270300;
}
a {
  color: #1c79cb;
}
a:hover {
  color: #529fe2;
}
.ajax-link {
  cursor: pointer;
  border-bottom: 1px dashed #1c79cb;
  text-decoration: none;
}
.ajax-button {
  cursor: pointer;
}
.track-playback-link {
  text-decoration: none;
}
table td {
  vertical-align: top;
  padding: 0 8px 0 8px;
}
div.artists-list span {
  margin: 0.5em 1em;
}
div.artists-list span.deleted,
ul.playlist li.deleted {
  text-decoration: line-through;
  color: red;
}
.album-item.deleted {
  background-color: #faa;
}
.album-item.unknown {
  background-color: #aaf;
}
div.artists-list span.processed,
.album-item.processed,
ul.playlist li.processed {
  opacity: 0.2;
}
div.artists-list span.skipped {
  background-color: #afa;
  text-decoration: line-through;
}
.releases-block .album-item{
  vertical-align: top;
}
.album-item {
  display: inline-block;
  margin: 8px 2px;
}
.album-cover-block,
.album-info-block {
}
.album-cover-block {
  width: 200px; 
  height: 200px;
  text-align: left;
  margin-right: 12px;
}
.album-cover-valign-helper {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
img.album-cover {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  vertical-align: bottom;
}
.album-info-block {
  margin-top: 6px;
  max-width: 200px;
  color: #444;
  font-size: 0.8em;
}
.album-item .details {
  font-size: 0.6em;
  color: #999
}
.release-save-buttons {
  display: none;
}
.ib {
  display: inline-block;
}
.sugg-link {
  cursor: pointer;
}
.tags-block {
  border-bottom: 1px solid #ccc;
  display: inline;
  padding: 1px 4px 2px 4px;
  cursor: text;
}
.tags-block form {
  display: inline;
}
.new-tag-input {
  border: none;
  margin-top: 3px;
}
.tag {
  display: inline-block;
  padding: 4px;
  font-weight: 600;
}
.tag .tag-category {
  opacity: 0.5;
}
.tag-c,
.tag-c a {
  color: #005cd9;
}
.tag-g,
.tag-g a {
  color: #008720;
}
.tag-l,
.tag-l a {
  color: #9600bc;
}
.tag-i,
.tag-i a {
  color: #bc5400;
}
.tag-p,
.tag-p a {
  color: #ffc000;
}
ul.playlist li {
  line-height: 1.7em;
}
.track-now-playing {
  background: #ffec83;
}
.ajax-link:hover .inline-img {
  background-color: #00AEEF;
}
.inline-img {
  margin: 0 1px -4px 1px;
  padding: 2px;
}
.track-note-form,
.track-lyrics-form {
  display: none;
}
.track-lyrics-block {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  font-size: 0.85em;
}
.track-lyrics-table {
  display: none;
}
.notes-table td {
  vertical-align: baseline;
  max-width: 40em;
}
.notes-table .note-date {
  color: #777;
  font-size: 0.8em;
}
.notes-table .note-content {
  font-size: 0.85em;
}
body.hide-notes .notes-table .note-content {
  background: #eee;
  color: #eee;
}
body.hide-notes .notes-table .note-content:hover {
  color: #ccc;
}
.rating {
  display: inline-block;
  padding: 1px;
  margin: 1px 4px 1px 4px;
  text-align: center;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.rated-0  {background-color: #EEEEEE; color: #777777}
.rated-1  {background-color: #222222; color: #777777}
/* text color is a 15% color from base (background) color
   calculated here: https://www.w3schools.com/colors/colors_picker.asp */
.rated-2  {background-color: #85312C; color: #391513}
.rated-3  {background-color: #ED1C24; color: #470608}
.rated-4  {background-color: #F58220; color: #492403}
.rated-5  {background-color: #FFF200; color: #4d4900}
.rated-6  {background-color: #A6CE39; color: #313d0f}
.rated-7  {background-color: #00A651; color: #004d25}
.rated-8  {background-color: #00AEEF; color: #00384d}
.rated-9  {background-color: #A64686; color: #36172b}
.rated-10 {background-color: #EC008C; color: #4d002e}
.performers-list {column-width: 250px}
/* --------------------------
   mediainfo block
   -------------------------- */
.mediainfo {
  color: #aaa;
  font-size: 0.8em;
}
.mediainfo .duration {
  color: #555;
/*  background-color: #eee;
  padding: 0.1em 0.3em 0.01em 0.3em;
  border-radius: 0.3em; */
}
.mediainfo .duration .msec {
  font-size: 0.7em;
  color: #777;
}
.mediainfo .attention {
  background-color: #ffec83;
  color: #555;
}
/* --------------------------
   fullscreen album cover art
   -------------------------- */
#fullscreen-cover-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 500;
}
#fullscreen-cover-flexbox {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#fullscreen-cover-flexbox img {
  max-height: 100%;
  max-width: 100%;
}
/* --------------------------
   title with horizontal line
   -------------------------- */
.hr-title {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #bbb;
  font-size: 0.8em;
}
.hr-title > span {
  position: relative;
  display: inline-block;
}
.hr-title > span:before,
.hr-title > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(128,128,128,0.2);
}
.hr-title > span:before {
  right: 100%;
  margin-right: 15px;
}
.hr-title > span:after {
  left: 100%;
  margin-left: 15px;
}
/* --------------------------
   performer page
   -------------------------- */
.release-container {
  margin-top: 1em;
}
.release-cover, .release-content {
  display: inline-block;
  vertical-align: top;
}
.release-cover {
  text-align: right;
}
.release-content {
  padding-left: 0.6em;
  margin-top: -0.3em;
}
.release-title {
  font-size: 1.1em;
  font-weight: bold;
}
.thumbnail {
  width: 100px;
  max-height: 100px;
  display: inline-block;
}
.thumbnail img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
}
.cover-link {
  cursor: pointer;
}
.aux-info {
  font-size: 0.8em;
  opacity: 0.5;
}
/* --------------------------
   main menu
   -------------------------- */
#main-menu {
  background-color: #111;
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 0.6em;
}
#main-menu input {
  background: #333;
  border: none;
  color: #bbb;
  padding: 0.2em 0.4em;
}
#main-menu a {
  color: #bbb;
}
#main-menu .menu-block {
  display: inline-block;
}
/* --------------------------
   tulip-player
   -------------------------- */
#tulip-player {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 0 0 0.8em;
  padding: 0;
  height: 100%;
}
.slider {
  display: inline-block;
  width: 300px;
  padding: 12px 0;
}
.slider-value-wrapper {
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
}
.slider-value {
  background-color: #00AEEF;
  height: 7px;
  width: 7px;
/*  transition: width 500ms;*/
  vertical-align: middle;
  border-radius: 10px;
}
.slider:hover .slider-value-wrapper {
  background-color: rgba(255,255,255,0.15);
}
.slider.seeking {
  opacity: 0.85;
}
.slider.seeking .slider-value {
  transition: none !important;
}
#volumebar {
  width: 100px;
  margin-left: 0.5em;
}
#volumebar .slider-value {
  background-color: #00A651;
}
#progressbar:hover .slider-value {
  background-color: #20c1fc;
}
#volumebar:hover .slider-value {
  background-color: #00c15d;
}
#tulip-player a {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  vertical-align: middle;
  margin: -28px 0.3em 0 0;
  padding: 0 0 0 0;
}
/* ==============================
   RATING-TOOLTIP
   ============================== */
.rating-choose-button {
  cursor: pointer;
}
.rating-set-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.06em 0.15em;
  border-radius: 0.2em;
}
.rating-set-button:hover {
  background: rgba(255,255,255,0.2);
}
#title-tip {
  background: rgba(0,0,0,0.9);
  color: #bbb;
  position: absolute;
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 3px;
  font-family: Arial;
  text-align: center;
  z-index: 99999;
}
#title-tip:after {
  box-sizing:border-box;
  position:absolute;
  left:50%;
  height:5px;
  width:5px;
  bottom:-10px;
  margin:0 0 0 -5px;
  content:" ";
  border:5px solid transparent;
  border-top-color:rgba(0,0,0,0.9)
}
/* ==============================
   ABYSS
   ============================== */
a.processed-folder {
  opacity: 0.3;
}
.is-cover-text,
li.is-cover .set-cover-link {
  display: none;
}
li.is-cover .is-cover-text {
  display: inline-block;
}
li .li-autohide {
  display: none
}
li:hover .li-autohide {
  display: inline
}
.process-folder-form table td {
  vertical-align: middle;
}
input[type="text"] {
  padding: 0.1em 0.2em;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
}
input[type="submit"] {
  padding: 0.1em 0.5em;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}
.process-folder-form table input.autocomplete {
  border: 1px solid #70cef9;
}
.process-folder-form table .acmp-chosen-item {
  display: none;
}
.process-folder-form table .acmp-chosen-item:hover {
  cursor: pointer;
  background-color: #ffec83;
  color: #555;
}
.process-folder-form table th {
  color: #999;
  font-size: 0.7em;
  font-weight: normal;
}
/* ==============================
   IPHONE
   ============================== */
@media (max-width: 320px) {
  .slider {
    width: 200px;
    cursor: pointer;
  }
  #volumebar {
    width: 70px;
  }
  #tulip-player {
    margin: 0;
  }
  #container {
    margin-top: 100px;
    font-size: 0.8em;
  }
  #main-menu {
    padding: 0;
    text-align: center;
  }
}
/* ==============================
   AUTOCOMPLETE MENU
   ============================== */
/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: 0;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 3px 1em 3px .4em;
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-active {
	margin: -1px;
}

.ui-widget {
/*	font-family: Arial,Helvetica,sans-serif;*/
	font-size: 9pt;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}
.ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
}

