.queue-manager {
  table {
    border-collapse: collapse;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 15em;

    tr.queue-track {
      display: block;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: .2em .5em;
      cursor: pointer;

      &:hover {
        background-color: rgba(255,255,0,0.2);
      }
      .artist {
        font-size: .8em;
        opacity: .4;
      }
      td {
        vertical-align: middle;

        &:nth-child(1) { // rating/eq-bar
          width: 24px;
        }
      }
    }

  } // end of table
  .eq-bar {
    display: inline-block;
    width: 3px;
    height: 11px;
    border-radius: 1px;
    margin: 0 .5px;
    background-color: #555; /* 0070c9 */

    animation-name: eq-bar;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center bottom;

    -webkit-animation-name: eq-bar;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: center bottom;

    &:nth-child(1) {
      animation-duration: 350ms;
      animation-delay: -250ms;
      -webkit-animation-duration: 350ms;
      -webkit-animation-delay: -250ms;
    }
    &:nth-child(2) {
      animation-duration: 425ms;
      animation-delay: -275ms;
      -webkit-animation-duration: 425ms;
      -webkit-animation-delay: -275ms;
    }
    &:nth-child(3) {
      animation-duration: .5s;
      animation-delay: -.3s;
      -webkit-animation-duration: .5s;
      -webkit-animation-delay: -.3s;
    }
    &:nth-child(4) {
      animation-duration: 275ms;
      animation-delay: -225ms;
      -webkit-animation-duration: 275ms;
      -webkit-animation-delay: -225ms;
    }

  } // end of .eq-bar
} // end of .queue-manager


@keyframes eq-bar {
  0% {
    -webkit-transform: scaleY(.27273);
    transform: scaleY(.27273);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

