.v-autocomplete{
  position:relative;
  display: inline-block;

  .v-autocomplete-list{
    position: absolute;
    background: white;
    z-index: 15;

    .v-autocomplete-list-item{
      cursor: pointer;
      border: 1px solid #ccc;
      margin-bottom: -1px;
      padding: .2em .5em;

      &.v-autocomplete-item-active{background-color: $yellow;}
    }
  }
}

