.vue-performer {
  .performer-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 1rem;

    .performer-aliases {
      font-size: 1rem;
      font-weight: normal;
      opacity: .3;
    }
  }

  .releases-grid {
    display: flex;
    //justify-content: space-evenly;
    flex-wrap: wrap;
  }
} // end of .vue-performer

