.vue-release {
  width: 16em;
  padding: 1em;

  .release-cover {
    text-align: left;

    a.cover-link {
      display: inline-block;

      .thumbnail {
        height: 100px;
        max-width: 100px;
        display: table-cell;
        vertical-align: bottom;

        img {
          display: block;
          max-width: 100px;
          max-height: 100px;
          border-radius: 4px;
        }
      }
    }
  } // end of .release-cover

  .release-content {
    width: 100%;
    .records-table {
      //border-collapse: collapse;
      border-spacing: 1px;
      width: 100%;

      td {
        vertical-align: middle;
      }
      td.trackname {
        width: 100%;
        max-width: 11em;
        position: relative;
        z-index: 10;
        cursor: pointer;
        height: 1.6em;

        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $blue;
        }
        &:hover span {
          width: inline;
          display: initial;
          color: #529fe2;
          text-shadow: 1px 1px 0 white;
          background: rgba(255,255,255,.7);
        }
        &.track-now-playing,
        &.track-now-playing span {
          background: $yellow;
        }
      } // end of td.trackname
      td.duration {
        font-size: .8em;
      }
    } // end of .records-table
  } // end of .release-content
} // end of .vue-release
