.vue-artist {
  .artist-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-left: 1rem;

    .artist-aliases {
      font-size: 1rem;
      font-weight: normal;
      opacity: .3;
    }
  }

  .releases-grid {
    display: flex;
    //justify-content: space-evenly;
    flex-wrap: wrap;
  }
} // end of .vue-artist

