.flash-notice {
  background: #80c921;
  color: #062700;
}
.flash-error {
  background: #c92d21;
  color: #270300;
}
table td {
  vertical-align: top;
  padding: 0 8px 0 8px;
}
tr.album-have {
  background: #add79d;
  color: #19350e;
}
td .details {
  font-size: 0.6em;
  color: #999
}
tr.album-have td .details {
  color: #647c5b;
}
table.album-suggestions {
  font-size: 0.7em;
}
.release-save-buttons {
  display: none;
}
.ib {
  display: inline-block;
}
.sugg-link {
  cursor: pointer;
}
.tag {
  display: inline-block;
  padding: 2px 4px;
  margin: 2px 4px;
}
.tag-c {
  background-color: #80dbe1;
  color: #035b61;
}
.tag-g {
  background-color: #c0e180;
  color: #445c16;
}
.tag-l {
  background-color: #b780e1;
  color: #350a57;
}
