html, body, #container, #vue-app, .vue-browser, .browser-grid-layout {
  height: 100%;
}
.rating-set-button {display: inline-block; cursor: pointer;}
$blue: #1c79cb;
$yellow: #ffffa3;

@import "styles/vue-artist.scss";
@import "styles/vue-release.scss";
@import "styles/vue-abyss.scss";
@import "styles/queue.scss";
@import "styles/v-autocomplete.scss";
@import "styles/vue-player.scss";
@import "styles/vue-rating-button.scss";

body {
/*  font-family: Segoe UI, Helvetica Neue, Trebuchet MS, Trebuchet, Helvetica;*/
  font-family: myfont, Cambria, serif;
  font-weight: 300;
  font-size: 11pt;
  margin: 0;
  padding: 0;

  h1 {
    font-weight: 600;
  }
  h2 {
    font-weight: 400;
  }
  .flash-notice {
    background: #80c921;
    color: #062700;
  }
  .flash-error {
    background: #c92d21;
    color: #270300;
  }
  a {
    color: $blue;
    &:hover {
      color: #529fe2;
    }
  }
  .ajax-link {
    display: inline;
    color: $blue;
    cursor: pointer;
    border-bottom: 1px dashed $blue;
    text-decoration: none;
    &:hover {color: #529fe2;}
  }
  .button-link {
    cursor: pointer;
    display: inline;
    padding: 0 .2em;
    border-radius: 3px;
    background-color: #7772;
    &:hover {
      background: #7773;
    }
  }
  .ajax-button {
    cursor: pointer;
  }
  td {
    vertical-align: top;
  }

  .browser-grid-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'queue content';


    .browser-content,
    .queue-manager {
      overflow-x: hidden;
      overflow-y: scroll;
      padding-top: 5em;
    }
    .browser-content {
      grid-area: content;
    }
    .queue-manager {
      grid-area: queue;
      border-right: 1px solid #eee;
      padding-right: 1em;
    }
  }

  #fullscreen-cover-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 500;

    #fullscreen-cover-flexbox {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  } // end of #fullscreen-cover-container

  .artists-list {
    padding: 0 1em;
    column-width: 15em;
  }

  .emoji {
    display: inline-block;
    cursor: pointer;
    &:hover {opacity: .6;}
  }

  .ui-selectable-helper {
    position: absolute;
    //border: 1px dotted black;
    border: 1px solid #39f;
    background: rgba(51,153,255,0.4);
  }
}

